<p>
    Welcome to <strong>Bifröst</strong>.
    Your account has been approved!
    Your OpenStack Credentials are:
    <dl>
        <dt>Username</dt>
        <dd><%= @username %></dd>
        <dt>Password</dt>
        <dd><%= @password %></dd>
    </dl>

    Please <strong>immediately</strong> change your password.

    You can Login to openstack <a href="<%= Application.get_env(:bifroest, :openstack_horizon_url) %>">here</a>
</p>
