<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9 layout-pf layout-pf-fixed"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="login-pf">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bifröst</title>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>
    <body>
        <div class="toast-notifications-list-pf">
            <% info = get_flash(@conn, :info) %>
            <% error = get_flash(@conn, :error) %>
            <%= if info do %>
                <div class="toast-pf alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <span class="pficon pficon-warning-triangle-o"></span>

                    <%= info %>
                </div>
            <% end %>
            <%= if error do %>

                <div class="toast-pf alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <span class="pficon pficon-warning-triangle-o"></span>
                    <%= error %>
                </div>
            <% end %>

        </div>
        <!-- <span id="badge"> -->
        <!-- <img src="//assets/img/logo.svg" alt=" logo" /> -->
        <!-- </span> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="brand">
                        <h1>
                            <b>Bifröst</b> Management Console
                        </h1>
                    </div><!--/#brand-->
                </div><!--/.col-*-->
                <%= render @view_module, @view_template, assigns %>
            </div><!--/.row-->
        </div><!--/.container-->

        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
